body {
  display: flex;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.left-container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 100%;
}
.logo {
  width: 100%;
  height: 100px;
}
.logo-img {
  padding: 30px 0 0 56px;
}
.left-content {
  display: flex;
  width: 769px;
  height: 100%;
}
.background {
  position: absolute;
  width: 430px;
  height: 492px;
  left: 142px;
  bottom: 297px;
}
.background-image {
  width: 430px;
  height: 492px;
  
}
.text {
  position: absolute;
  width: 607px;
  height: 281px;
  left: 57px;
  bottom: 121px;
}
.text1 {
  width: 400px;
  height: 141px;
  font-weight: 400;
  font-size: 58px;
  line-height: 77px;

  margin: 0;
}
.text2 {
  width: 290px;
  height: 63px;
  font-weight: 400;
  font-size: 23px;
  line-height: 26.95px;
  margin: 0 0 0 0;
  padding-top: 77px;
}
.right-content {
  width: 480px;
  height: 100%;
}
.redirectText {
  text-decoration: none;
  color: #4461f2;
}

.leftContainerContentImage {
  display: flex;
}

.right-container {
  width: 670px;
  height: 100%;
}
.rightContainerMenu {
  align-items: flex-end;
  height: 100px;
  display: flex;
  padding: 0 20px;
  justify-content: center;
}

.rightContainerAuthForm {
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: center;
  margin-top: 200px;
}
.rightContainerAuthFormForgot {
  text-decoration: none;
  width: 125px;
  height: 77px;
  color: #c7c7c7;
  margin-left: 280px;
}
.formLogin {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.rightContainerFunction {
}
.rightContainerFunctionNoti {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainerFunctionDash {
  display: block;
  border-top: 1px solid #dfdfdf;
  width: 120px;
}
.rightContainerFunctionText {
  margin: 0 10px;
  color: #acadac;
}
.rightContainerFunctionSocial {
  display: flex;
  justify-content: center;
}
.rightContainerFunctionSocialGoogle,
.rightContainerFunctionSocialFacebook,
.rightContainerFunctionSocialApple {
  width: 117px;
  height: 60px;
  border-radius: 10px;
  border: 1px;
  margin: 40px 10px;
}
.rightContainerFunctionSocialGg,
.rightContainerFunctionSocialFb,
.rightContainerFunctionSocialA {
  width: 23px;
  height: 28px;
}
.rightContainerFunctionSocialGoogle:hover,
.rightContainerFunctionSocialFacebook:hover,
.rightContainerFunctionSocialApple:hover {
  background-color: white;
}
/* Thiết lập các thuộc tính cho input */
input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 400px;
  height: 77px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: lightsteelblue;
}

/* Thiết lập màu nền và màu chữ cho nút submit */
input[type="submit"] {
  background-color: #4461f2;
  height: 60px;
  color: white;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.09em;
  color: #ffffff;
}

/* Hiệu ứng hover cho nút submit */
input[type="submit"]:hover {
  background-color: #ffa07a;
}
.btnRegister,
.btnLogin {
  width: 112px;
  height: 42px;
  color: #4461f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  background: #f6f6f6;
  border-radius: 21px;
  font-weight: bold;
  font-size: 16px;
  border: #ccc;
}

.btnLanguage {
  width: 112px;
  height: 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  background: #f6f6f6;
  border-radius: 21px;
  font-weight: bold;
  font-size: 16px;
  border: #ccc;
}

.btnRegister:hover,
.btnLogin:hover,
.btnLanguage:hover {
  background-color: white;
}
