body {
  display: flex;
  font-family: "Roboto", sans-serif;
  
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}
.main
{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}
.left-container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 100%;
}
.logo {
  width: 100%;
  height: 100px;
}
.logo-img {
  padding: 30px 0 0 56px;
}
.content {
  display: flex;
  width: 100%;
  height: 100%;
}
.left-content {
  display: flex;
  width: 769px;
  height: 100%;
}
.background {
  position: absolute;
  width: 430px;
  height: 492px;
  top: 191px;
  left: 142px;
}
.background-image {
  width: 430px;
  height: 492px;
}
.text {
  position: absolute;
  width: 607px;
  height: 281px;
  left: 57px;
  bottom: 121px;
}
.text1 {
  width: 400px;
  height: 141px;
  font-weight: 400;
  font-size: 58px;
  line-height: 77px;

  margin: 0;
}
.text2 {
  width: 290px;
  height: 63px;
  font-weight: 400;
  font-size: 23px;
  line-height: 26.95px;
  margin: 0 0 0 0;
  padding-top: 77px;
}
.right-content {
  width: 480px;
  height: 100%;
  vertical-align: bottom;
}
.right-content-img {
  padding-top: 354px;
}
.redirect-text {
  text-decoration: none;
  color: #4461f2;
}
.right-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 130px;
}
.right-container-menu {
  align-items: flex-end;
  height: 100px;
  display: flex;
  justify-content: center;
}

.right-container-auth-form {
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: center;
  padding-top: 60px;
}
.forgot {
  text-decoration: none;
  width: 125px;
  height: 77px;
  font-size: 14px;
  line-height: 77px;
  letter-spacing: 10%;
  color: #c7c7c7;
  margin-left: 280px;
}
.form-login {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.right-container-function {
}
.right-container-function-noti {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash {
  display: block;
  border-top: 1px solid #dfdfdf;
  width: 120px;
}
.noti {
  margin: 0 10px;
  color: #acadac;
  font-size: 14px;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: 0.09em;
  text-align: left;
}
.right-container-function-social {
  display: flex;
  justify-content: center;
}
.google,
.facebook,
.apple {
  width: 117px;
  height: 60px;
  border-radius: 10px;
  border: 1px;
  margin: 40px 10px;
  box-shadow: 0px 10px 13px 0px #00000021;
}
.google-img,
.facebook-img,
.apple-img {
  width: 27.44px;
  height: 28px;
}
.google:hover,
.facebook:hover,
.apple:hover {
  background-color: #ffffff;
}
/* Thiết lập các thuộc tính cho input */
input[type="text"],
input[type="password"] {
  width: 400px;
  height: 60px;
  padding: 10px;
  margin-top: 12px;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #eaf0f7;
  outline: none;

  font-size: 18px;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: 9%;
}
::placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: 9%;
}

/* Thiết lập màu nền và màu chữ cho nút submit */
input[type="submit"] {
  background-color: #4461f2;
  height: 60px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.09em;
  color: #ffffff;

  box-shadow: 0px 12px 21px 4px #4461F226;

}

/* input[type="submit"]:hover {
  background-color: #ffa07a;
} */
.btn-register,
.btn-login {
  position: relative;
  width: 112px;
  height: 42px;
  color: #4461f2;
  background: #f6f6f6;
  border: none;
  border-radius: 21px;
  font-weight: bold;
  font-size: 16px;
  align-items: center;
}
.underline {
  position: absolute;
  width: 34.78px;
  height: 3px;
  bottom: 3px;;
  left: 38px;
  margin: 0;
  background-color: #4461f2;
  border: none;
  border-radius: 20px;
}

.btn-language {
  width: 112px;
  height: 42px;
  background: #f6f6f6;
  border-radius: 21px;
  font-weight: bold;
  font-size: 16px;
  border: #ccc;
}

.btn-register:hover,
.btn-login:hover,
.btn-language:hover {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #0000000d;
  cursor: pointer;
}
/* .underlined::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 50%; 
  border-bottom: 2px solid blue; 
} */
