body {
  display: flex;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}
.left-container {
  display: flex;
  flex-direction: column;
  width: 1056px;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100px;
}
.logo-img {
  padding: 30px 0 0 56px;
}
.background {
  width: 100%;
  height: 100%;
}
.background-image1 {
  position: absolute;
  width: 430px;
  height: 492px;
  left: 142px;
  top: 191px;
}
.background-image2 {
  position: absolute;
  left: 321px;
  top: 223px;
}

.right-container {
  width: 864px;
  height: 1080px;
}
.right-container-menu {
  align-items: flex-end;
  height: 100px;
  display: flex;
  padding: 0 20px;
  justify-content: center;
}

.right-container-auth-form {
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: center;
  padding: 87px 199px 0 0;
}

.form-register {
  display: flex;
  flex-direction: column;
}
.form-register-line {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.form-register-header {
  width: 607px;
  height: 141px;
}
.label-register {
  font-size: 48px;
  font-weight: 400;
  line-height: 77px;
  margin-left: 270px;
}
.label-for-input {
  width: 200px;
  margin-right: 70px;
  font-size: 19px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0.09em;
  text-align: left;
}

/* Thiết lập các thuộc tính cho input */
input[type="text"],
input[type="password"] {
  width: 400px;
  height: 77px;
  padding: 10px;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #eaf0f7;

  font-size: 18px;
  font-weight: 500;
  line-height: 77px;
}
::placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: 9%;
}

/* Thiết lập màu nền và màu chữ cho nút submit */
input[type="submit"] {
  background-color: #4461f2;
  width: 400px;
  height: 60px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.09em;
  color: #ffffff;
  margin: 26px 0 0 270px;
}

.btn-register,
.btn-login {
  width: 112px;
  height: 42px;
  color: #4461f2;
  background: #f6f6f6;
  border-radius: 21px;
  font-weight: bold;
  font-size: 16px;
  border: #ccc;
}

.btn-language {
  width: 112px;
  height: 42px;
  background: #f6f6f6;
  border-radius: 21px;
  font-weight: bold;
  font-size: 16px;
  border: #ccc;
}
.btn-register:hover,
.btn-login:hover,
.btn-language:hover {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #0000000d;
  text-decoration: underline;
  text-decoration-color: #4461f2;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
.right-container-function-noti {
  position: absolute;
  width: 290px;
  height: 63px;
  left: 1321px;
  top: 722px;

  font-size: 23px;
  font-weight: 400;
  line-height: 26.95px;
  color: #000000;
}
.redirect-text {
  text-decoration: none;
  color: #4461f2;
}
